@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

* {
  word-break: keep-all;
}

header {
  width: 95rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem !important;
}
.buildHeader {
  width: 100%;
  height: 750px;
  background-image: url(/static/images/background_build.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.MainBgBox img {
  text-align: right;
  display: flex;
}
.MainTitle {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 5rem;
}
.MainTitle ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  color: #fff;
}
.MainTitle h1 {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 900;
  color: #fff;
  font-family: "NanumBarunGothic";
}

.MainTitle .title-p {
  font-size: 1.3rem;
  font-family: "NanumBarunGothic";
}

.MainTitle .Certification-img-li {
  width: 100%;
}

.MainTitle .Certification-img-li img {
  width: 10rem;
}
.MainTitle .button-li {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 3rem;
}
.MainTitle .button-li .button {
  width: 30%;
  height: 45px;
  background-color: #000;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}
.MainTitle .button-li .button:hover {
  background-color: #0084d4;
}

.MainTitle .button-li .button a:hover {
  color: #fff;
}
.MainTitle .button-li .button a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MainTitle .button-li .button a p {
  margin-bottom: 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem;
}
.MainTitle .button-li .button a p:nth-child(1) {
  flex: 2;
}
@media (max-width: 2560px) {
  header {
    width: 85rem;
  }
}
@media (max-width: 1200px) {
  .MainTitle ul:nth-child(1) li {
    padding-right: 2rem;
  }
  .buildHeader {
    height: auto;
  }
  header {
    width: 100% !important;
  }

  .contentsBox1 .contentsSubBox {
    width: 100% !important;
  }
  .contentsBox2 .contentsSubBox {
    width: 100% !important;
  }
  .contentsBox3 .contents2Box {
    width: 100% !important;
    padding: 0rem 2rem !important;
  }
  .contentsBox4 img {
    width: 90% !important;
  }
  .contentsBox5 {
    padding: 0 !important;
  }
  .contentsBox5 .contentsSubBox {
    width: 100% !important;
    padding: 0rem 2rem !important;
  }
  .contentsBox5 .contentsSubBox img {
    width: 100% !important;
  }
  .contentsBox5 .contentsSubBox ul li h1 {
    font-size: 3rem !important;
  }
  .contentsBox5 .contentsSubBox ul li:nth-child(2) p {
    font-size: 1.5rem !important;
  }
  .contentsBox5 span {
    font-size: 1.1rem !important;
  }
  .contentsBox7 .supportContents3 {
    width: 90% !important;
  }
  .contentsBox6 .videoDiv {
    width: 85%;
    margin: 0 auto;
  }
  .contentsBox5 .contentsSubBox ul li h1 {
    font-size: 3rem !important;
  }
  .contentsBox5 .contentsSubBox ul li:nth-child(2) p {
    font-size: 1.5rem !important;
  }
  .contentsBox5 .contentsSubBox ul li {
    padding: 2rem;
  }
}

@media (max-width: 1024px) {
  .buildHeader {
    width: 100%;
    height: 500px;
  }

  .MainTitle h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .MainTitle .title-p {
    font-size: 1rem;
  }

  .MainTitle .Certification-img-li img {
    width: 7rem;
  }

  .MainTitle .button-li {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }
  .MainTitle .button-li .button {
    width: 55%;
    height: 35px;
    background-color: #000;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .MainTitle .button-li .button a p {
    font-size: 0.9rem;
  }
}
@media (max-width: 870px) {
  .buildHeader {
    width: 100%;

    background-repeat: no-repeat;
    background-position: 90%;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  header {
    padding-top: 4rem !important;
  }

  .MainBgBox {
    width: 90%;
    text-align: right;
    overflow: hidden !important;
    margin: 0 auto;
    z-index: 1;
  }

  .MainBgBox img {
    text-align: right;
    display: flex;
  }
}
@media (max-width: 540px) {
  .MainTitle .button-li .button {
    width: 100% !important;
  }
  .MainTitle ul:nth-child(1) li {
    padding-right: 1rem;
  }
  .buildHeader {
    width: 100%;
    height: 600px;
    background-image: url(/static/images/background_build_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .MainTitle {
    padding-left: 2.5rem;
    word-break: keep-all;
  }
  .MainTitle h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    word-break: keep-all;
  }
  .MainTitle .title-p {
    font-size: 0.9rem;
    word-break: keep-all;
  }
  .MainTitle .Certification-img-li img {
    width: 6rem;
  }
  .MainTitle .button-li {
    margin-top: 5rem;
  }
}
@media (max-width: 414px) {
  .buildHeader {
    width: 100%;
    height: 600px;
    background-position: 90%;
  }
  .MainTitle {
    padding-left: 1.5rem;
    word-break: keep-all;
  }
  .MainTitle .button-li {
    margin-top: 8rem;
  }
}
