* {
  word-break: keep-all;
}

.title-img-mobile {
  display: none !important;
}
header {
  width: 95rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem !important;
}
.buildHeader {
  width: 100%;
  height: 750px;
  background-image: url(/static/images/1bac.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.MainBgBox {
  width: 95rem;
  /* position: fixed; */
  text-align: right;
  overflow: hidden !important;
  margin: 0 auto;
  width: 95rem;
  z-index: 1;
}

.MainBgBox img {
  text-align: right;
  display: flex;
}
.MainTitle {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.MainTitle ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 750px;
  align-items: center;
}
.MainTitle ul img {
  width: 42rem;
  display: flex;
}
.MainTitle ul:nth-child(1) li {
  text-align: right;
  display: flex;
}
.MainTitle ul:nth-child(2) {
  text-align: left;
  line-height: 4rem;
}
.MainTitle h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}
.MainTitle h5 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
.MainTitle p {
  font-size: 1.5rem;
  font-weight: bold;
}
.MainTitle .button {
  width: 100%;
  text-align: center;
}
.MainTitle span {
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.buildHeader .MainTitle span:hover {
  background: #fff;
  color: #02aa3a;
  font-weight: 900;
}

.MainBgBox img {
  animation: driftAcross 150s infinite linear;
}

@media (max-width: 2560px) {
  header {
    width: 85rem;
  }
  .MainTitle ul img {
    width: 35rem !important;
  }
  .MainTitle h1 {
    font-size: 2.8rem !important;
  }
  .MainTitle h5 {
    font-size: 2.8rem !important;
  }
  .MainTitle p {
    font-size: 1.5rem;
  }
  .MainTitle {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
  }

  .MainTitle ul:nth-child(1) {
    flex: 1;
  }
  .MainTitle ul:nth-child(2) {
    flex: 1;
  }
}
@media (max-width: 1200px) {
  .MainTitle ul:nth-child(1) li {
    padding-right: 2rem;
  }
  .buildHeader {
    height: auto;
  }
  header {
    width: 100% !important;
  }
  .MainTitle ul img {
    width: 25rem !important;
  }
  .MainTitle h1 {
    font-size: 2rem !important;
    padding-left: 2rem !important;
  }
  .MainTitle h5 {
    font-size: 2rem !important;
    padding-left: 2rem !important;
  }
  .MainTitle p {
    padding-left: 2rem !important;
    padding: 0;
  }
  .contentsBox1 .contentsSubBox {
    width: 100% !important;
  }
  .contentsBox2 .contentsSubBox {
    width: 100% !important;
  }
  .contentsBox3 .contents2Box {
    width: 100% !important;
    padding: 0rem 2rem !important;
  }
  .contentsBox4 img {
    width: 90% !important;
  }
  .contentsBox5 {
    padding: 0 !important;
  }
  .contentsBox5 .contentsSubBox {
    width: 100% !important;
    padding: 0rem 2rem !important;
  }
  .contentsBox5 .contentsSubBox img {
    width: 100% !important;
  }
  .contentsBox5 .contentsSubBox ul li h1 {
    font-size: 3rem !important;
  }
  .contentsBox5 .contentsSubBox ul li:nth-child(2) p {
    font-size: 1.5rem !important;
  }
  .contentsBox5 span {
    font-size: 1.1rem !important;
  }
  .contentsBox7 .supportContents3 {
    width: 90% !important;
  }
  .contentsBox6 .videoDiv {
    width: 85%;
    margin: 0 auto;
  }
  .contentsBox5 .contentsSubBox ul li h1 {
    font-size: 3rem !important;
  }
  .contentsBox5 .contentsSubBox ul li:nth-child(2) p {
    font-size: 1.5rem !important;
  }
  .contentsBox5 .contentsSubBox ul li {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .title-img-mobile {
    display: block !important;
  }
  .title-img-pc {
    display: none !important;
  }

  .MainTitle {
    flex-direction: column;
  }

  .contentsBox7 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  header {
    padding-top: 4rem !important;
  }
  .MainTitle ul img {
    width: 100% !important;
  }
  .MainTitle ul li {
    width: 100%;
    margin-top: 3rem;
  }
  .MainTitle ul img {
    width: 60% !important;
  }
  .MainTitle p {
    font-size: 1.5rem !important;
  }
  .MainTitle span {
    font-size: 1.2rem;
  }
}
@media (max-width: 540px) {
  .MainTitle ul li p {
    font-size: 1rem !important;
    line-height: 25px;
    word-break: keep-all;
    padding: 0 1rem;
  }

  header {
    width: 100%;
  }
  .buildHeader {
    width: 100%;
    height: auto;
    background-image: url(/static/images/1bac.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .MainBgBox {
    width: 90%;
    text-align: right;
    overflow: hidden !important;
    margin: 0 auto;
    z-index: 1;
  }

  .MainBgBox img {
    text-align: right;
    display: flex;
  }
  .MainTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .MainTitle ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
  }
  .MainTitle ul:nth-child(1) {
    order: 2;
    display: flex;
  }
  .MainTitle ul:nth-child(2) {
    order: 1;
    display: flex;
  }
  .MainTitle ul img {
    width: 80% !important;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .MainTitle ul:nth-child(1) li {
    text-align: center;
    display: flex;
  }
  .MainTitle ul:nth-child(2) {
    text-align: left;
    line-height: 2rem;
    padding-left: 0rem;
    padding-top: 3rem;
  }
  .MainTitle h1 {
    font-size: 2rem !important;
    font-weight: 900;
    color: #fff;
    padding-left: 1rem;
  }
  .MainTitle h5 {
    font-size: 1.2rem !important;
    font-weight: bold;
    color: #fff;
    padding-left: 1rem;
  }
  .MainTitle p {
    font-size: 1rem !important;
    font-weight: bold;
    padding: 0;
    color: #fff;
    padding-left: 0;
  }
  .MainTitle .button {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    height: 50px;
  }
  .MainTitle span {
    padding: 0.8rem 1.8rem;
    background: #000;
    color: #fff;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
  }
  .MainTitle ul li {
    margin-top: 2rem;
  }
}

@media (max-width: 360px) {
  .MainTitle ul li p {
    font-size: 1rem !important;
    line-height: 25px;
    word-break: keep-all;
    padding: 0 2rem;
  }
}
