@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}
header {
  width: 95rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem !important;
}
.cloudHeader {
  width: 100%;
  height: 750px;
  background-image: url(/static/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cloud-div {
  /* padding-bottom: 6rem; */
}
.MainBgBox img {
  text-align: right;
  display: flex;
}
.MainTitle {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 5rem;
}
.MainTitle ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  color: #fff;
  width: 100%;
}
.MainTitle h1 {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 900;
  color: #fff;
  font-family: "NanumBarunGothic";
}

.MainTitle .title-p {
  font-size: 1.3rem;
  font-family: "NanumBarunGothic";
}

.MainTitle .Certification-img-li {
  width: 100%;
  margin-top: 1rem;
}

.MainTitle .Certification-img-li img {
  width: 30%;
}

:lang(en) .MainTitle .Certification-img-li img {
  width: 35%;
  min-width: 24rem;
}
.MainTitle .button-li {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 3rem;
}
.MainTitle a {
  width: 25%;
  height: 55px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  color: #fff;
  margin-left: 0 !important;
}
.MainTitle .button-li a p {
  margin-bottom: 0;
  font-size: 1.1rem;
  text-align: center;
}
.MainTitle .button-li a:hover {
  background-color: #2fa7fd;
  color: #fff;
}
.Certification-img-li-mobile {
  display: none;
}

@media screen and (max-width: 2560px) {
  header {
    width: 85rem;
  }
}
@media screen and (max-width: 1200px) {
  header {
    width: 100%;
  }

  .CloudcontentsBox2 .contentsSubBox {
    width: 100% !important;
    padding: 6rem 2rem !important;
  }
  .CloudcontentsBox3 .contents2Box {
    width: 100% !important;
    padding: 0rem 2rem !important;
  }
  .CloudcontentsBox5 .contentsSubBox {
    width: 100% !important;
    padding: 0rem 2rem !important;
  }
  .CloudcontentsBox5 .contentsSubBox img {
    width: 100% !important;
  }
  .CloudcontentsBox5 .contentsSubBox ul li {
    padding: 2rem;
  }
  .CloudcontentsBox5 {
    padding: 0 !important;
  }
  .contentsBox6 .contentsSubBox {
    width: 100% !important;
  }
  .cloudVideo .contentsSubBox .videoDiv {
    width: 85%;
    margin: 0 auto;
  }
  .cloud-div {
    padding-bottom: 0;
  }

  .CloudcontentsBox1 ul:nth-child(3) li p {
    padding: 0 1rem;
  }
  .CloudcontentsBox2 .contentsSubBox .contents2Box div {
    padding: 0 1rem;
  }
  .CloudcontentsBox5 .contentsSubBox ul li h1 {
    font-size: 3rem !important;
  }
  .CloudcontentsBox5 .contentsSubBox ul li:nth-child(2) p {
    font-size: 1.5rem !important;
  }
  .CloudcontentsBox5 span {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .cloudHeader {
    width: 100%;
    /* height: 500px; */
  }

  .MainTitle h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .MainTitle .title-p {
    font-size: 1rem;
  }

  .MainTitle .Certification-img-li img {
    width: 30%;
    min-width: 15rem;
  }
  :lang(en) .MainTitle .Certification-img-li img {
    width: 40%;
    min-width: 20rem;
  }
  .MainTitle a {
    width: 25%;
    height: 45px;
    font-size: 1rem;
  }
  :lang(en) .MainTitle a {
    width: 32%;
    height: 45px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 870px) {
  .MainTitle a {
    width: 25% !important;
    height: 40px;
  }
  :lang(en) .MainTitle a {
    width: 27% !important;
    height: 40px;
  }
  .MainTitle .button-li a p {
    font-size: 0.9rem !important;
  }

  .cloudHeader {
    width: 100%;
    background-image: url(/static/images/background.jpg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: cover;
  }

  .MainTitle a {
    margin-left: 0 !important;
  }
  .MainTitle .button-li {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-top: 4rem !important;
  }

  .MainBgBox {
    width: 90%;
    text-align: right;
    overflow: hidden !important;
    margin: 0 auto;
    z-index: 1;
  }

  .MainBgBox img {
    text-align: right;
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .MainTitle ul:nth-child(1) li {
    padding: 1rem;
  }
  .cloudHeader {
    width: 100%;
    /* height: 600px; */
    background-image: url(/static/images/backgroundMobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .MainTitle {
    padding-left: 2.5rem;
    word-break: keep-all;
  }
  .MainTitle h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    word-break: keep-all;
  }
  .MainTitle .title-p {
    font-size: 0.9rem;
    word-break: keep-all;
  }

  .MainTitle .button-li {
    margin-top: 2rem;
    padding-left: 0;
    flex-direction: column !important;
  }
  .MainTitle a {
    margin-left: 0 !important;
    width: 170px !important;
    height: 40px !important;
  }
  :lang(en) .MainTitle a {
    margin-left: 0 !important;
    width: 170px !important;
  }
  .MainTitle .button-li a p {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 414px) {
  .Certification-img-li-mobile {
    display: block;
    order: 2;
    position: absolute;
    margin-left: 1rem;
    bottom: 10%;
  }
  .Certification-img-li-mobile img {
    width: 70%;
  }

  .Certification-img-li {
    display: none;
  }
  :lang(en) .Certification-img-li-mobile img {
    width: 55%;
  }
  .cloudHeader {
    width: 100%;
    background-image: url(/static/images/backgroundMobile.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: cover;
    position: relative;
  }
  .MainTitle {
    padding-left: 0rem !important;
    word-break: keep-all;
  }
  .MainTitle .button-li {
    padding-top: 0;
    margin-top: -1rem !important;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .MainTitle .button-li a:nth-child(2) {
    padding-right: 0 !important;
  }
  .MainTitle .title-p {
    text-align: center;
  }
  .MainTitle a {
    margin: 0.5rem !important;
  }
  .MainTitle h1 {
    font-size: 1.9rem !important;
    line-height: 2.7rem !important;
    margin-top: 2rem;
    text-align: center;
  }
  .MainTitle ul {
    justify-content: unset !important;
  }
}
@media screen and (max-width: 360px) {
  .MainTitle h1 {
    font-size: 1.8rem !important;
    line-height: 2.6rem !important;
  }
  .MainTitle .button-li {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 290px) {
  .MainTitle h1 {
    font-size: 1rem !important;
    line-height: 2rem !important;
  }
  :lang(en) .MainTitle .Certification-img-li img {
    min-width: unset;
    width: 90%;
  }
  .Certification-img-li-mobile {
    display: none;
  }
  .MainTitle .Certification-img-li img {
    min-width: auto;
    width: 80%;
  }
  :lang(en) .Certification-img-li img {
    /* width: 9rem !important; */
  }
  .Certification-img-li {
    display: block;
    order: 2;
    margin-top: -1rem !important;
    text-align: center;
  }
}
