* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  margin-bottom: 0rem;
}

a {
  text-decoration: none !important;
  color: inherit;
}
.mobile {
  display: none;
}
@media (max-width: 540px) {
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
}
