.mobile-button {
  display: none;
}
.langbutton-pc {
  display: flex !important;
}
.navbar-div {
  width: 100%;
  background: #fff;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 50;
  box-shadow: 3px -3px 11px #3b697a;
}
a {
  text-decoration: none !important;
}
.nav-menu-item-div {
  display: flex;
}
.langbutton-mobile-div {
  display: flex;
  display: none;
}
.navbar-div a {
  color: #000;
  text-decoration: none !important;
}
.navbar-div a:hover {
  color: inherit !important;
}
.navbar-div .navbar-nav {
  width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-div .navbar-nav ul {
  display: flex;
  flex-direction: row;
  font-size: 0.95rem;
  align-items: center;
}
.navbar-div .navbar-nav ul li {
  cursor: pointer;
}
.navbar-div .navbar-nav ul:nth-child(2) li {
  padding-right: 2rem;
}
.navbar-div .navbar-nav ul li:hover {
  color: #000 !important;
}
.navbar-div .navbar-nav ul li:last-child {
  padding-right: 0;
}
.navbar-div .navbar-nav .logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #01395a !important;
}

.navbar-div .navbar-nav .admin-login-button {
  border: 1px solid gray;
  width: 9rem;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center !important;
}
.navbar-div .navbar-nav .admin-login-button a {
  display: flex;
  align-items: center;
}
.navbar-div .navbar-nav .admin-login-button:hover {
  color: #0ca6ff !important;
  border-color: #0ca6ff !important;
}
.navbar-div .navbar-nav .lang-button {
  align-items: center;
  text-align: left;
  width: 4.5rem;
  font-size: 15px !important;
  border: 0;
  background: none;
}
.lang-drop-down-box {
  width: 12rem;
  height: auto;
  padding: 1rem 0;
  position: absolute;
  /* background: #f1f1f1; */
  background: #fff;
  top: 4rem;
  outline: 0;
  border: 3px solid #01395a5b;
}
.lang-drop-down-box li:first-child {
  margin-bottom: 0.5rem;
}

.lang-drop-down-box li {
  color: #01395a;
  padding-left: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.lang-drop-down-box li:hover {
  text-decoration: underline;
}
.langbutton-pc {
  display: flex;
  align-items: center;
  justify-content: end !important;
}

@media (max-width: 1200px) {
  .navbar-div {
    width: 100% !important;
  }
  .navbar-div .navbar-nav {
    width: 98% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .navbar-div .navbar-nav {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .langbutton-pc {
    display: none !important;
  }
  .langbutton-mobile-div {
    display: block;
    width: 100%;
    margin-top: 0 !important;
    background: #f8f7f8;
  }
  .langbutton-mobile-div li:last-child {
    border-bottom: 0;
  }
  .nav-menu-item-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background: #f8f7f8;
  }
  .mobile-button {
    display: block;
  }

  .navbar-nav .menu-title {
    padding: 0 1rem;
  }

  .navbar-div .navbar-nav ul:nth-child(2) li {
    padding-left: 1rem;
    width: 100%;
  }
  .navbar-div .navbar-nav ul {
    align-items: flex-start !important;
  }

  .langbutton-mobile {
    display: flex;
    flex-direction: row !important;
  }
  .navbar-div {
    display: flex;
    position: fixed;
    top: 0;
  }
  .navbar-div .navbar-nav {
    width: 98%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: left;
    padding: 0rem;
  }
  .navbar-nav ul:nth-child(1) {
    justify-content: space-between;
    margin-top: 1rem;
  }

  .dropDown_bg {
    position: absolute;
    width: 100%;
    height: 430px;
    background: #f8f7f8;
    left: 0;
    top: 4rem;
    z-index: -55;
  }
  .dropDown_bg-onpremise {
    position: absolute;
    width: 100%;
    height: 170px;
    background: #f8f7f8;
    left: 0;
    top: 4rem;
    z-index: -55;
  }
  .langenbutton {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  .nav-menu-item {
    height: auto;
    display: flex;
    flex-direction: column !important;
    line-height: 70px;
  }
  .nav-menu-item li {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(121, 121, 121, 0.493);
  }

  .nav-menu-item a {
    display: flex;
    flex-direction: column;
  }
  .admin-login-button-mobile {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
  }
  .admin-login-button-mobile a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .langbutton-mobile .langkobutton {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  .langbutton-mobile .langenbutton {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
}
@media (max-width: 540px) {
  .navbar-nav .menu-title {
    padding: 0 1rem;
  }

  .langbutton-mobile {
    display: flex;
    flex-direction: row !important;
  }

  .navbar-div {
    display: flex;
    position: fixed;
    top: 0;
  }
  .navbar-div .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: left;
    padding: 0;
  }

  .navbar-nav ul:nth-child(1) {
    justify-content: space-between;
    margin-top: 1rem;
  }

  .dropDown_bg {
    position: absolute;
    width: 100%;
    height: 340px;
    background: #f8f7f8;
    left: 0;
    top: 4rem;
    z-index: -55;
  }
  .langenbutton {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }
  .nav-menu-item {
    height: auto;
    display: flex;
    flex-direction: column !important;
    line-height: 55px;
  }
  .nav-menu-item li {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(121, 121, 121, 0.493);
  }
}
